/* Variables para las secciones */

$paddingGeneral : 20px;
$bg-body: linear-gradient(to left, #E5DCC3 25% , #C7BEA2 30%  , #AAA492 75% , #9A9483 75% );
$bgBody: #ffffff;
$bgMobile: #a58911f7;
$bgFooter: #F2DDC1;
$scroll: smooth;


