/* Seteos Generales */
*{
	padding: 1px;
	margin: 0px;
}

html{
	scroll-behavior: $scroll;
}


.menuMobile{
	text-decoration: none;
	color: $MenuMobile;
	padding: 0 9px;
	
        &:hover{
	        filter: opacity(.9);
	        transition:all 0.5s ease-in-out;
	        color: $MenuMobileHover;
	        text-decoration: none;
			border-radius: 5px;
        }
}

/*body */
.grid-container{
	margin: 10px;
	display: grid;
	grid-template-areas: 
	"header header header"
	"main main aside"
	"main main aside"
	"main main aside"
	"main main aside"
	"footer footer footer";
	grid-template-rows: repeat(auto-fill,1fr);
	height: 900px;
	gap: 5px ;
}



h2{
	color:#deb887
}
h3{
	color:#deb887
}







@media screen and (min-width: 100px) and (max-width: 600px){
	body {
		background-color: #66806A;
		font-family: 'Roboto', sans-serif;
		font-size: 2rem;
	}
	.menuMobile{
		text-decoration: none;
		color: #b3958d;
		padding: 0px 20px;
		font-size: 17px;
		
			
	}
	.grid-container {
		margin: auto;
		display: grid;
		height: 900px;
		gap: 5px;
		grid-template-areas: 
	"header header header"
	"main main main"
	"main main main"
	"main main main"
	"main main main"
	"footer footer footer";
	}
	
}

@media screen and (min-width: 601px) and (max-width: 800px){
	body {
		background-color: #181D31;
		font-family: 'Roboto', sans-serif;
	}
	.menuMobile{
		text-decoration: none;
		color: #b3958d;
		padding: 0 9px;
		font-size: 19px;
	}
	.grid-container {
		margin: auto;
		display: grid;
		height: 900px;
		gap: 5px;
	}
	

	
	
	
}
@media screen and (min-width: 801px)  and (max-width: 1500px){
	body{
	
		font-family: 'Roboto', sans-serif;
		background: url("/images/coriwebfondo2.jpg");
		background-position: 0px 210px;
		background-attachment:fixed;
		background-size: 100%;
		background-color: #364048;
		background-repeat: no-repeat;
		
		
	}
	.menuMobile{
		text-decoration: none;
		color: #d59643;
		padding: 0 20px;
		font-size: 20px;
		
			&:hover{
				filter: opacity(.9);
				transition:all 0.5s ease-in-out;
				color: #d1c1a2;
				text-decoration: none;
				border-radius: 5px;
			}
	}
	
	
}
@media screen and (min-width: 1501px) and (max-width: 3000px){
	body{
	
		font-family: 'Roboto', sans-serif;
		background: url("/images/coriwebfondo2.jpg");
		background-position: 0px 190px;
		background-attachment:fixed;
		background-size: 100%;
		background-color: #364048;
		background-repeat: no-repeat;
		
		
	}
	.menuMobile{
		text-decoration: none;
		color: #d59643;
		padding: 0 20px;
		font-size: 20px;
		
			&:hover{
				filter: opacity(.9);
				transition:all 0.5s ease-in-out;
				color: #d1c1a2;
				text-decoration: none;
				border-radius: 5px;
			}
	}

}