/* footer*/
.grid-footer{
	padding: $paddingGeneral;
	grid-area: footer;
	background-color: rgb(53 68 76 / 78%);
	border-radius: 30px 30px 0px 0px;
}
.ul-footer{
		font-size: 15px;
		list-style:none;
		display: flex;
    	flex-flow: row nowrap;
		justify-content: center;
		& a:hover{
			background-color: rgb(156, 149, 134);
			transition: 1s;
		}

}
.footerLink{
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}

	
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
  }
  
  @media screen and (min-width: 100px) and (max-width: 600px){
	.ul-footer{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		font-size: 2rem;
		justify-content: flex-start;
	}
	
	.grid-footer{
		border-radius: 10px 10px 0px 0px;
		
	}
	.footerLink{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
	}
	
}

@media screen and (min-width: 601px) and (max-width: 800px){
	.ul-footer{
		display: flex;
		flex-flow: row wrap;
		
	}
}
@media screen and (min-width: 601px) and (max-width: 1500px){
	
	.ul-footer{
		display: flex;
		flex-flow: row wrap;
		
	}
	
}

