/* header*/
.grid-header{
	padding: $paddingGeneral;
	grid-area: header
}

.nav-item{
	display: flex;
	flex-flow: column nowrap;
    align-items: flex-start;
	justify-content: center;
	letter-spacing: 5px; 
	
}

.ul-header{
	display: flex;
	justify-items: center;
	list-style:none;
	font-size: 14px;
	padding-top: 30px;
	padding-left: 0px;
}

.logoWeb{
	width: 500px; 
	height: 130px;
}

@media screen and (min-width: 100px) and (max-width: 600px){
	.logoWeb{
		
    	max-width: 100%;
		height: auto;
		
	
	}
	.ul-header{
		display: flex;
		justify-items: center;
		list-style:none;
		font-size: 25px;
		padding-top: 30px;
		padding-left: 100px;
		letter-spacing: 90px;
	}

	
	.off {
		display: none;
	}

	.grid-header {
		padding: 0px; 
		
	}
	.liMobile{
		padding: 0px 30px 0px 30px;
	}
	.menuMobile {
		text-decoration: none;
		color: #e6ab5e;
		padding: 0 100px;
	}
	.nav-item {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		letter-spacing: 10px;
	}

	
}

@media screen and (min-width: 601px) and (max-width: 800px){
	.logoWeb {
		
		max-width: 100%;
		height: auto;
		
	}
	.ul-header{
		display: flex;
		justify-content: space-between;
		list-style:none;
		font-size: 25px;
		padding:40px 0px 0px 60px ;
		letter-spacing: 90px;
	}

	.nav-item{
		display: flex;
		flex-flow: row wrap;
	}
	.off {
		display: none;
	}
	
	.liMobile{
		padding: 0px 30px 0px 30px;
	}
	.menuMobile {
		text-decoration: none;
		color: #e6ab5e;
		padding: 0 100px;
	}
	.nav-item {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		letter-spacing: 10px;
	}

	
}

@media screen and (min-width: 801px) and (max-width: 1500px){
	.logoWeb{
		width: 1000px;
		height: 230px;
	}
	.ul-header{
		display: flex;
		justify-items: center;
		list-style:none;
		font-size: 40px;
		padding-top: 30px;
		padding-left: 0px;
	}

	.nav-item{
		display: flex;
		flex-flow: row wrap;
	}
	.menuMobile a {
		text-decoration: none;
		color: #e6ab5e;
		padding: 0 100px;
	}
	
}


